@import "../styles/variables.scss";
.this_day {
  position: relative;
  left: 50px;
  width: 100%;
  padding: 20px;
  max-width: 400px;
  background-color: var(#{--components-background-default});
  box-shadow: var(--card-shadow-default);
  border-radius: $border-radius;
}

.top_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  svg {
    width: 120px;
    height: 120px;
  }
}
.this_temp {
  font-size: 96px;
  font-weight: 500;
  color: $primary-color;
}
.today {
  font-size: 40px;
  color: var(#{--text-color-default});
}
.bottom_block {
  .time,
  .city {
    font-size: 25px;
    color: $base-color;
  }
}
